body{
margin:0;
background:linear-gradient(135deg,#ff758c,#ff7eb3);
color:white;
font-family:Arial;
overflow:hidden;
text-align:center;
}

.container{
margin-top:120px;
}

h1{
font-size:3rem;
}

.buttons button{
font-size:1.6rem;
padding:15px 40px;
border:none;
border-radius:20px;
margin:20px;
cursor:pointer;
}

#yesBtn{background:#ff2e63;color:white;}
#noBtn{background:#222;color:white;}

.hidden{display:none;}

#magic{
margin-top:100px;
font-size:1.8rem;
animation:fade 1.5s;
}

#showPhotos{
padding:15px 30px;
font-size:1.3rem;
border-radius:20px;
border:none;
background:#fff;
color:#ff2e63;
cursor:pointer;
}

#gallery img{
width:220px;
margin:15px;
border-radius:20px;
box-shadow:0 0 20px white;
}

.floating img{
animation:float 3s infinite ease-in-out;
}

@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-20px);}
100%{transform:translateY(0);}
}

@keyframes fade{
from{opacity:0; transform:scale(0.7);}
to{opacity:1; transform:scale(1);}
}

canvas{
position:fixed;
top:0;
left:0;
pointer-events:none;
}
