body{
margin:0;
background:linear-gradient(135deg,#ff758c,#ff7eb3);
color:white;
font-family:Arial;
overflow:hidden;
text-align:center;
}

.container{
margin-top:120px;
}

h1{
font-size:3rem;
}

.buttons button{
font-size:1.6rem;
padding:15px 40px;
border:none;
border-radius:20px;
margin:20px;
cursor:pointer;
}

#yesBtn{background:#ff2e63;color:white;}
#noBtn{background:#222;color:white;}

.hidden{display:none;}

#magic{
margin-top:100px;
font-size:1.8rem;
animation:fade 1.5s;
}

#showPhotos{
padding:15px 30px;
font-size:1.3rem;
border-radius:20px;
border:none;
background:#fff;
color:#ff2e63;
cursor:pointer;
}

#gallery img{
width:220px;
margin:15px;
border-radius:20px;
box-shadow:0 0 20px white;
}

.floating img{
animation:float 3s infinite ease-in-out;
}

@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-20px);}
100%{transform:translateY(0);}
}

@keyframes fade{
from{opacity:0; transform:scale(0.7);}
to{opacity:1; transform:scale(1);}
}

canvas{
position:fixed;
top:0;
left:0;
pointer-events:none;
}
#heartGame, #pandaGame{
margin-top:100px;
font-size:1.8rem;
}

.heart{
position:fixed;
font-size:40px;
cursor:pointer;
z-index:9999;
user-select:none;
animation:move 3s linear forwards;
}

@keyframes move{
from{top:90vh;}
to{top:-20vh;}
}

.cards{
display:grid;
grid-template-columns:repeat(3,100px);
gap:15px;
justify-content:center;
margin-top:30px;
}

.card{
width:100px;
height:100px;
background:white;
color:#ff2e63;
font-size:2rem;
display:flex;
align-items:center;
justify-content:center;
border-radius:15px;
cursor:pointer;
}

.scoreboard{
position:fixed;
top:20px;
left:20px;
font-size:1.5rem;
background:rgba(0,0,0,0.3);
padding:10px 20px;
border-radius:15px;
}

.timer{
position:fixed;
top:20px;
right:20px;
font-size:1.5rem;
background:rgba(0,0,0,0.3);
padding:10px 20px;
border-radius:15px;
}

.bomb{
position:fixed;
width:40px;
height:40px;
border-radius:50%;
cursor:pointer;
z-index:9999;
animation:move 3s linear forwards;
}

.heart{
position:fixed;
font-size:40px;
cursor:pointer;
z-index:9999;
user-select:none;
animation:move 3s linear forwards;
}
